@use "@/styles/font" as *;
@use "@/styles/color" as *;

.cart-cmp {
  border: 1px solid $color-1;
  border-radius: 5px;
  padding: 20px;
  min-width: 200px;
  .title {
    @include title-2();
  }

  .list-item {
    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
}
