@use "@/styles/font" as *;
@use "@/styles/color" as *;

.cart-cmp {
  .cart-container {
    border: 1px solid $color-1;
    border-radius: 5px;
    padding: 20px 20px 100px 20px;
    min-width: 300px;
    position: relative;
    .title {
      @include title-2();
    }

    .list-item {
      .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .label {
          margin: auto 0;
        }

        .action {
          text-align: right;
          display: flex;
          gap: 5px;
          .quantity {
            margin: auto 0;
            width: 35px;
          }
          .trash-icon {
            height: 100%;
          }
        }
      }
    }

    .submit-cart {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
